:root {
	--main-color: #262626;
	--secondary-color: #FFF4E9;
	--accent-color: #826AED;

	--main-color-dark: #FFF4E9;
	--secondary-color-dark: #262626;
	--accent-color-dark: #C879FF;

	--theme-transition-duration: 0.5s;
}

html {
	font-family: Bitter, Arial;
	font-weight: 300;
	font-size: 20px;

	color: var(--main-color);
	background: var(--secondary-color);

	transition-duration: var(--theme-transition-duration);
}
a {
	color: var(--accent-color);

	transition-duration: var(--theme-transition-duration);
}
.dark {
	background-color: var(--secondary-color-dark);
}

.dark * {
	color: var(--main-color-dark);
}
.dark a {
	color: var(--accent-color-dark);
}



body {
	width: 100%;
	height: 100%;

	margin: 0;
}

header {
	position: sticky;
	top: 0px;
	z-index: 99;
	
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);

	display: flex;
	align-items: center;
	justify-content: space-between;
}
header > * {
	margin: 0.5rem;
}

header > h1 {
	display: inline-block;
}
header a {
	color: var(--main-color);
	text-decoration: none;
	background: none;

	transition-duration: var(--theme-transition-duration);
}
.dark header a {
	color: var(--main-color-dark);
}



#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 60%;
	height: min(80vh, 50vw);
	overflow-y: scroll;
}
.grid-element {
	aspect-ratio: 1 / 1;
}

.card-container {
	overflow: hidden;

	width: inherit;
	height: inherit;

	aspect-ratio: inherit;
}
.double-space {
	grid-column: span 2;
	aspect-ratio: 2 / 1;
}

.card {
	display: block;
	width: 100%;
	height: 100%;
	
	object-fit: cover;
	object-position: center center;

	opacity: 0;

	user-select: none;

	transform-origin: center;
	transform: scale(1.1);
}
.card.loaded {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
	transition: transform 350ms ease-in-out;
}
.card.loaded:hover {
	transform: scale(1);
	transition: transform 350ms ease-in-out;
}



.blur-load {
	background-size: cover;
	background-position: center center;
}
.loading-overlay {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);

	animation: loading-pulse 1.5s ease-in-out infinite alternate;
}

@keyframes loading-pulse {
	0% {
		backdrop-filter: blur(10px);
	}
	100% {
		backdrop-filter: blur(25px);
	}
}